<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Pedido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="Pedido">
    <span class="Pedido">
      Pedido
    </span>
  <ion-card>
    <ion-item>
      <ion-select label="Prioridad de entrega" placeholder="Selecciona">
        <ion-select-option value="genesis">Verde</ion-select-option>
        <ion-select-option value="saturn">Amarillo</ion-select-option>
        <ion-select-option value="snes">Rojo</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-text>Fecha de pedido</ion-text>
  <ion-datetime-button datetime="datetime"></ion-datetime-button>

  <ion-modal [keepContentsMounted]="true">
    <ng-template>
      <ion-datetime id="datetime">Fecha de entrega</ion-datetime>
    </ng-template>
  </ion-modal>
    <ion-item>
      <ion-text slot="start">Desea factura?</ion-text>
      <ion-list>
        <ion-item>
          <ion-select aria-label="Fruit" interface="popover" placeholder="Selecciona">
            <ion-select-option value="apples">Si</ion-select-option>
            <ion-select-option value="oranges">No</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </ion-item>
    <div class="action-button ion-padding">
      <ion-button size="large" class="pedido-button" routerLink="/pedido-pg2">Siguiente</ion-button>
    </div>
  </ion-card>
</div>
</ion-content>
