ion-card {
  --background: rgb(239, 234, 234);
  --color: #000000;
}

ion-card-title {
  --color: #52ffe4;
}

ion-card-subtitle {
  --color: #d1fff8;
}
.Pedido{
  --background: rgb(21, 180, 106);
  --color: #9efff0;
}
ion-list {
  --background: rgb(226, 46, 46);
  --color: #000000;
}

ion-list-title {
  --color: #52ffe4;
}

ion-list-subtitle {
  --color: #d1fff8;
}

.img{


}
