.Pedido {
  width: 360px;
  height: 800px;
  flex-grow: 0;
  padding: 11px 20px 61px 17px;
  background-color: #d9d9d9;
}
.Pedido {
  width: 278px;
  height: 57px;
  flex-grow: 0;
  margin: 43.2px 21px 28px 0;
  font-family: Roboto;
  font-size: 36px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}
