
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Hola soy el inicio aun no se en que usarlo</h1>

  <span class="normal">
    Cocer pasta sin problemas: Al hervir la pasta, siempre añada al agua un chorrito de aceite de oliva. Será más fina y más sabrosa.
  </span>
</ion-content>

<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">inicio</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content> -->
