 @font-face {
     font-family: Gilroy;
    src: url();
}

 @font-face {
    font-family: Gilroy;
     src: url();
     font-weight: 600;
}

@font-face {
     font-family: Gilroy;
    src: url();
    font-weight: 700;
 }