<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Carrito</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Hola soy el carrito</h1>
  <ion-button routerlink="/ayuda">go to home</ion-button>
</ion-content>


<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>carrito</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">carrito</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content> -->
