.Rectangle-1450 {
    width: 319px;
    height: 36px;
    flex-grow: 0;
    margin: 17.2px 18px 13px 0;
    padding: 12px 109px 11px 118px;
    border-radius: 15px;
    background-color: #a9a8a8;
  }

  .Buscar {
    width: 71px;
    height: 13px;
    flex-grow: 0;
    margin: 0 0 0 5px;
    font-family: Kurale;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #d9d9d9;
  }