<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Recetas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
    <ion-card-header>
      <ion-card-title>Pescado empanizado</ion-card-title>
      <ion-card-subtitle>Califica esta receta</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Siempre debes tener una buena receta de PESCADO EMPANIZADO, por eso toma esta receta que se acompaña con una salsa de CONSOMATE. ¡Delicioso!
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
    <ion-card-header>
      <ion-card-title>Albóndigas al Chipotle</ion-card-title>
      <ion-card-subtitle>Califica esta receta</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Para tu menú de la semana, no olvides preparar unas ALBÓNDIGAS en caldillo de jitomate y CHIPOTLE sazonado con CONSOMATE®. Acompaña con arroz y frijoles.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
    <ion-card-header>
      <ion-card-title>Pan Francés</ion-card-title>
      <ion-card-subtitle>Califica esta receta</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Empieza tu día con un delicioso PAN FRANCÉS hecho con moras, plátano y el delicioso toque de la Leche Condensada LA LECHERA® Sirve Fácil.
    </ion-card-content>
  </ion-card>
</ion-content>
