<div>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Inicio</ion-title>
    </ion-toolbar>
  </div>
<ion-content>
       <div class="top-section ion-padding">
          <div class="title">
            <h2>REYY GAS</h2>
          </div>
          <div class="sub-title">
          <p>REUNIRSE ES EL COMIENSO,<br>
            MANTENERSE JUNTOS ES EL PROGESO,<br>
            TRABAJAR JUNTOS ES EL EXITO.</p>
          <div class="action-buttons">
            <ion-button class="call">
              <ion-icon name="flame"></ion-icon>Hoy, el precio del litro es $11.18.
            </ion-button>
            <ion-button class="sms">
              <ion-icon name="flame"></ion-icon>Hoy, el precio del kilo es $20.21.
            </ion-button>
          </div> 
        </div>
        </div>
       
<ion-card> 
  <div class="slider">
    <div class="slide-track">
        <div class="slide">
            <img src="assets\9.jpg" alt="">
        </div>
        <div class="slide">
            <img src="assets\10.jpg" alt="">
        </div>
        <div class="slide">
            <img src="assets\12.jpg" alt="">
        </div>
        <div class="slide">
            <img src="assets\13.png" alt="">
        </div>
        <div class="slide">
            <img src="assets\14.jpg" alt="">
        </div>
        <div class="slide">
            <img src="assets\15.png" alt="">
        </div>
        <div class="slide">
            <img src="assets\16.png" alt="">
        </div>

        <div class="slide">
            <img src="assets\9.jpg" alt="">
        </div>
        <div class="slide">
            <img src="assets\10.jpg" alt="">
        </div>
        <div class="slide">
            <img src="assets\12.jpg" alt="">
        </div>
        <div class="slide">
            <img src="assets\13.png" alt="">
        </div>
        <div class="slide">
            <img src="assets\14.jpg" alt="">
        </div>
        <div class="slide">
            <img src="assets\15.png" alt="">
        </div>
        <div class="slide">
            <img src="assets\16.png" alt="">
        </div>
    </div>
</div>
</ion-card>
<div>

</div>

<!-- <div class="bottom-section ion-margin">
    <img src="assets\88.jpg" alt="">
    <div class="content">
        <h3>Do your own </h3>
        <p>El que no previene accidentes tiene</p>
    </div>
</div> -->
<ion-card>  
<div class="bottom-section ion-margin">
    <img src="/assets/logo.jpg" alt=""> 
    <div class="content">
        <h3>OBJETIVOS</h3>
        <P>Gestionar los servicios que brinda la empresa REYY GAS con 
            la finalidad de aumentar la productivilidad y tener
             mas eficiencia para nuestros clientes.
        </P>
    </div>
</div> 
</ion-card>
<ion-card> 
<div class="bottom-section ion-margin">
    <img src="/assets/logo.jpg" alt=""> 
    <div class="content">
        <h3>MISION</h3>
        <P>Satisfacer las necesidades de suministro de gas lp
            de todos nuestros clientes, asi como brindar servicios 
            de valor agregado en cada carga, ademas de generar mas fuentes de empleo.
        </P>
    </div>
</div>
</ion-card>
<ion-card> 
<div class="bottom-section ion-margin">
    <img src="/assets/logo.jpg" alt=""> 
    <div class="content">
        <h3>VISION</h3>
        <P>Mediano plazo: ser la empresa numero uno en todo el territotio 
            nacional en la distribucion de gas lp,Largo plazo: ser la empresa numero uno 
            a nivel mundial en distribucion de gas lp.
        </P>
    </div>
</div>
</ion-card>


</ion-content>





