ion-card {
  --background: #fffbfb;
  --color: #aaaaaa;
}

ion-card-title {
  --color: #000000;
}

ion-card-subtitle {
  --color: #180df1;
}

.encabezado{
  background: #e9ecef;
  border-radius: 30px;
  padding: 30px;
  margin: 30px;
}

