
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>


  <div class="Bienvenido">Bienvenido</div>


 <div class="slider">
  <div class="slider-track">
    <div class="slide"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcThvpH-cIDpdjnBINuIa-cA8HkFiEETqicAsg&usqp=CAU" alt="">
    </div>
    <div class="slide"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTextbYKIkp-XcTBTZwO0jZsm5Q8mq03txm9A&usqp=CAU" alt="">
    </div>
    <div class="slide"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ3aKcDi_e-CVxqdM4IZtBFMRxdpq9cF93RiQ&usqp=CAU" alt="">
    </div>
    <div class="slide"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTextbYKIkp-XcTBTZwO0jZsm5Q8mq03txm9A&usqp=CAU" alt="">
    </div>
    <div class="slide"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT2aa242vwbWPFLBQlybwbKSfj60Q1ZB52T1A&usqp=CAU" alt="">
    </div>

    <div class="slide"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRCD8fxMP5S1Qdvk0Uu_WWs_cnrnzmI7r7N4A&usqp=CAU" alt="">
    </div>
    <div class="slide"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTzKMYgxyR6_DnLiYk4NWD7Wr2mMsQTInvNlQ&usqp=CAU" alt="">
    </div>
    <div class="slide"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRf0OZlWhdhIiw5LwLffDL1y51QDEyzyNYNVg&usqp=CAU" alt="">
    </div>
    <div class="slide"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRKFvTwkIcENuFCSyGTTZlmR-Id5BayPSrnB9kOXHgOJGRopY4opLtwyX-v79vwsJZ56Vs&usqp=CAU" alt="">
    </div>
    <div class="slide"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_ozjzDmt8Ar7P_-9M192z7XuyPAvyTS6EnA&usqp=CAU" alt="">
    </div>
  </div>
 </div>

</ion-content>





