

.ion-content{
   color: aqua;
 }
.top-section{
   min-height: 150px;
   border-bottom-left-radius: 30px ;
   border-bottom-right-radius: 30px ;
   background-color: #FF5392;
   padding-bottom: 32px;
  
   h2{
      margin-top: 10px;
       font-size: 1.8rem;
       font-weight: 20px;
       color: rgb(253, 252, 252);
     
   }
   h3{
       color: aliceblue;
       font-weight: bold;
      margin: 0;
      } 
      p{
       color: aliceblue;
       line-height: 1.6;


       .call{
        --background: #ff4d58;
        margin-right: 20px;
        }
        .sms{
            --background: rgba(8, 251, 89, 0.614);
        }
      }
    
}

.call{
  --background: #b000fb3e;
  margin-right: 20px;
  }
  .sms{
      --background: #b000fb40;
  }


.slider {
  width: 85vw;
  height: auto;
  margin: auto;
  overflow: hidden;
}

.slider .slide-track {
  display: flex;
  animation: scroll 20s linear infinite;
  -webkit-animation: scroll 20s linear infinite;
  width: calc(130px * 14);
}

.slider .slide {
  width: 130px;
}

.slider .slide img {
  width: 100%;
}

@keyframes scroll {
  0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
  }
  100% {
      -webkit-transform: translateX(calc(-130px * 7));
      transform: translateX(calc(-130px * 7));
  }
}

.bottom-section{
  background: url("/assets/rectangle.jpg");
  min-height: 100px;
  background-repeat: no-repeat ;
  background-size: 100%;
  display: flex;
  img{
      height: 112px;
      padding: 10px;
  }
  .content{
      display: flex;
      flex-direction: column;
      padding: 10px;
  
  h3{
      font-size: 1.3rem;
      margin: 0;
      color: #FF5392;
      font-weight: bold;
  }
  p{
      color: #3f3e3e;
      margin-top: 4px;
  }
  }
}