

.encabezado{
  background: #e9ecef;
  border-radius: 30px;
  padding: 30px;
  margin: 30px;
}

.Bienvenido{
  margin: 30px;
  padding: 20px;
  background: #e9ecef;
  border-radius: 20px ;
  color: black;
  font-weight: bolder;
  text-align: center;

}

.slider {
  width: 85vw;
  height: auto;
  margin: auto;
  overflow: hidden;
}

.slider .slide-track {
  display: flex;
  animation: scroll 20s linear infinite;
  -webkit-animation: scroll 20s linear infinite;
  width: calc(130px * 14);
}

.slider .slide {
  width: 130px;
}

.slider .slide img {
  width: 100%;
}

@keyframes scroll {
  0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
  }
  100% {
      -webkit-transform: translateX(calc(-130px * 7));
      transform: translateX(calc(-130px * 7));
  }
}