.top-section{
    min-height: 150px;
    border-bottom-left-radius: 30px ;
    border-bottom-right-radius: 30px ;
    background-color: #FF5392;
    padding-bottom: 32px;
    
    h2{
        margin-top: 10px;
        font-size: 1.8rem;
        font-weight: 20px;
        color: aliceblue;
       
    }
    h3{
        color: aliceblue;
        font-weight: bold;
        margin: 0;
       } 
       p{
        color: aliceblue;
        line-height: 1.6;

       }
       .action-buttons{
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #ffffff;

        .call,.sms{
            width: 50%;
            --border-radius:25px;
            --border-bottom:24px;
            --border-end:24px;
            --border-top:24px;
            --border-start:24px;
            ion-icom{
                margin-right: 10px;
            }
        }
        .call{
            --background: #ff4d58;
            margin-right: 20px;
        }
        .sms{
            --background: rgba(8, 251, 89, 0.614);
        }
       }
}
.middle-section{
    display: flex;
    flex-direction: column;
    h3{
        font-size: 1.3rem;
        font-weight: bold;
        margin-bottom: 20px;
        margin-left: 10px;
    
    }

    p{
        font-weight: bold;

    }
    .content{
        text-align: center;
        img{
            height: 90px;
            width: 90px;
            object-fit: contain;
        }
    }
}



.bottom-section{
    background: url("/assets/rectangle.jpg");
    background-repeat: no-repeat ;
    background-size: 100%;
    display: flex;
    img{
        height: 112px;
        padding: 10px;
    }
    .content{
        display: flex;
        flex-direction: column;
        padding: 10px;
    
    h3{
        font-size: 1.3rem;
        margin: 0;
        color: #FF5392;
        font-weight: bold;
    }
    p{
        color: #000;
        margin-top: 8px;
    }
    }
}