.fugas{
    margin: 30px;
    padding: 30px;
    background: #e9ecef;
    border-radius: 30px ;
    color: black;
    font-weight: bolder;
    text-align: center;


}

// background: #e9ecef;
// border-radius: 30px;b
// padding: 30px;b
// margin: 30px;b