.fugas{
    margin: 30px;
    padding: 20px;
    background: #e9ecef;
    border-radius: 20px ;
    color: black;
    font-weight: bolder;
    text-align: center;

}

.busqueda{
    margin: 3px;
    padding: 15px;
    background: #e9ecef;
    border-radius: 20px ;
    color: black;
    font-weight: bolder;
    text-align: center;
}